.movielist {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  &__error {
    margin: 0 auto;
    margin-top: 10px;
  }
  &__spin {
    margin: 0 auto;
    margin: 30px;
    width: 100%;
  }

  @media all and (max-width: 994px) {
    justify-content: center;
  }
}
.pagination {
  display: flex;
  margin: 18px auto;
}
